<footer id="spree-footer" class="rows" data-hook>
  <div class="container">
    
    <div class="col-md-3">
      <div class="phone">
        <a href="callto:0123456789">01-234-5678-901</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:sales@example.com">sales@example.com</a>
      </div>
      <br>
    </div>
    
    <div class="col-md-3">
      <h5>Shopping</h5>
        <a href="https://gift-in-time-maheshgr-1.c9.io/cart">View Cart</a><br/>
        <a href="https://gift-in-time-maheshgr-1.c9.io/account">My account</a><br/>
        <a href="https://gift-in-time-maheshgr-1.c9.io/account">My Orders</a><br/>
        <a href="/products">Suppliers</a><br/>
        <a href="/products">Service</a>        
      </ul>
    </div>
    
    <div class="col-md-4">
      <h5>FOLLOW US ON</h5>
        <a href="https://www.facebook.com/giftintimeapp" style="text-decoration:none"><img src="/assets/facebook.png" width=20px height=25px;> Facebook</a><br/>
        <a href="#" style="text-decoration:none"><img src="/assets/twitter.jpeg" width=20px height=25px;> Twitter</a><br/>
        <a href="#" style="text-decoration:none"><img src="/assets/google plus.png" width=20px height=25px;> Google plus</a><br/>
        <a href="#" style="text-decoration:none"><img src="/assets/flickr.png" width=20px height=25px;> Flickr</a><br/>
    </div>
    <div id="footer-right">
      
    </div>
    <div class="four rows">
      <h5>Important info</h5>
      <p>
        This website is a real store, 
        it's a fully working ecommerce application 
      </p>
    </div>
    
  </div>
</footer>
